.schedule-title {
    font-size: larger;
    font-weight: bolder;
    color: gray;
}

.scheduled-item {
    font-size: medium;
    font-weight: 800;
}

.scheduled-details {
    margin-left: 6%;
    color: gray;
}

.scheduled-category {
    margin-left: 3%;
    font-weight: 500;
}

.scheduled-priority {
    margin-left: 30px;
}

.scheduled-delete {
    float: right;
    color: rgb(42, 185, 42);
}

mat-hint {
    float: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}